{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<body>
{% if alphabetical_meals_list %}
    <form class="down">
    {% for meal in alphabetical_meals_list %}
        <input type="checkbox" id="Meal{{meal.id}}" value="{{meal.id}}">
        <label for="Meal{{meal.id}}"><a href="{% url 'polls:detail' meal.id %}">{{ meal.meal_name }}</a></label>
        </br>
    {% endfor %}
    <button type="submit">Generate List</button>
    </form>
{% else %}
    <p>You have not made any meals.</p>
{% endif %}
<form method = "POST" action="{% url 'polls:index' %}">
{% csrf_token %}
    <input type="text" name ="newmeal" placeholder ="Add meal here"></input>
    <button type="submit">Make</button>
</form>
</body>