{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static 'polls/assets/bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="{% static 'polls/assets/fonts/fontawesome-all.min.css'%}">
    <link rel="stylesheet" href="{% static 'polls/assets/fonts/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'polls/assets/fonts/fontawesome5-overrides.min.css'%}">
    <link rel="stylesheet" href="{% static 'polls/assets/css/untitled.css'%}">
</head>

<body id="page-top">
    <div class="masthead" style="background: url(&quot;https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=953&amp;q=80&quot;) center / cover no-repeat;filter: saturate(101%);">
        <div class="intro-body" style="background-color: rgba(0,0,0,0.8);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">The Meal planner</h1>
                        <p class="intro-text">No longer forget your ingredients for your dishes when shopping</p><a class="btn btn-link btn-circle" role="button" href="#about"><i class="fas fa-egg animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="about" class="content-section text-center" style="height: 500px;background-position: center;background-repeat: no-repeat;background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>About Meal Planner</h2>
                    <p>Meal Planner allows you to store your dishes as ingredients and add them to your weekly list!</p>
                    <p>Simply create your dish and add&nbsp;</p>
                    <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with SASS and LESS files for easy customization!</p>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Follow us on Github</h2><form method = "get" action = "https://github.com/jfitz02/Meal-Planner"><button class="btn btn-primary btn-lg btn-default" type="submit"><i class="fa fa-github fa-fw"></i><span class="network-name"> github</span></button></form>
                    <p></p>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">&nbsp;</li>
                        <li class="list-inline-item">&nbsp;</li>
                        <li class="list-inline-item">&nbsp;</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="map-clean"></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/grayscale.js"></script>
</body>